@import url('https://fonts.googleapis.com/css2?family=Abel&family=Allerta&family=Biryani:wght@300&display=swap');
* {
    font-family: 'Abel', sans-serif;
    color: white;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B5ADAD;
    opacity: 0.8; /* Firefox */
  }
body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:flex; flex-direction:column; 
    justify-content:center;
    align-items: center;
    background-color: #1E1E1E;
    text-align: center;
}
#text-login{
    font-family: 'Allerta', sans-serif;
    font-size: 40px;
    margin: 0;
}
#sub-text{
    font-family: 'Biryani', sans-serif;
    font-size: 20px;
    color: #9B9696;
}
#service-text{
    font-family: 'Biryani', sans-serif;
    font-size: 30;
    color: #ffffff;
    display: inline;
}
.input-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-frame input{
    margin: 5px;
    width: 376px;
    height: 40px;
    background-color: #696464;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}
.input-frame button{
    margin: 20px;
    width: 376px;
    height: 40px;
    background-image: linear-gradient(90deg,#1A846A,#8932A8);
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    padding-left: 22px;
  }
.input-frame button i {
    float: right;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 0;
  }
  .input-frame button:hover{
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
    background-image: linear-gradient(270deg,#1A846A,#8932A8);
}
a{
    margin: 0;
    text-decoration: none;
}
.register-acc{
    margin: 0;
}
a:hover .register-acc{
color: red;
transition: ease all 0.5s;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

