@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300&family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    font-family: 'Biryani', sans-serif;
    color: white;
}
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(120deg,#000000, #ff0000);
    overflow: hidden;

}
.container{
    padding-top: 50px;
    margin-left: 270px;
    transition: all 0.3s ease;
    height: 600px;
    overflow: hidden;
}

.container.close .data-attr{
    margin-left: 200px;
    transition: all 0.3s ease;
}
.container.close{
    margin-left: 100px;
    transition: all 0.3s ease
}
.conversation-container{
    height: auto;
    width: auto;
    display: flex;
}
.person-chat{
    display: flex;
    flex-direction: column;
    width: 304px;
    height: fit-content;
    max-height: 700px;
    background-color: rgba(255, 255, 255, 0.441);
    justify-content: right;
    overflow: auto;
    padding-bottom: 20px;
}
::-webkit-scrollbar {
    width: 15px;
    height: 98%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.person-chat .person-receive-message{
    display: flex;
    cursor: pointer;
    width: 291px;
    height: 71px;
    border-radius: 50px 0px 0px 50px;
    background-color: rgb(204 188 188 / 70%);
    margin-top: 20px;
    margin-left: 10px;
    align-items: center;}
.person-chat .person-receive-message i{
color: #000000;
padding-left: 20px;
font-size: 36px;
padding-right: 10px;
    }
.person-chat .person-receive-message p{
color: #bc0000;
font-weight: bold;

}
.chat-box{
    display: flex;
    flex-direction: column;
    width: 476px;
    height: 400px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: red solid 4px;
    overflow: auto;
    
}
.sended-text{
    display: flex;
    width: 100%;
    justify-content: right;
}
.bubble-text{
    display: flex;
    justify-content: right;
    width: auto;
    max-width: 270px;
    border-radius: 5px 0px 0px 5px;
    background-color: rgb(146, 26, 26);
    height: auto;
    overflow-wrap: break-word;
    line-break: loose;
    margin: 20px;
    margin-bottom: 10px;
    padding-right: 20px;
    padding-left: 5px;
}
.sended-text p{
    margin-right: 10px;
    line-break: anywhere;
    overflow-wrap: break-word;
    max-width: 246px;
}
.send-box{
    display: flex;
    width: 476px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.date-time{
    display: flex;
    font-size: 12px;
    margin: 0;
    align-items: center;
}
.receive-text{
    display: flex;
    width: 100%;
    justify-content: left;
}
.bubble-text-send{
    display: flex;
    justify-content: left;
    width: auto;
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(39, 135, 58);
    height: 50px;
    min-height: 15px;
    margin: 20px;
    margin-bottom: 10px;
    padding-right: 20px;
    padding-left: 5px;
}
.receive-text p{
    margin-left: 0px;
}

.send-box{
    display: flex;
    width: 476px;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 10px;
}



.send-box input{
width: 410px;
margin-right: 10px;
height: 50px;
border-radius: 10px;
background-color: black;
border: red solid 2px;
padding-left: 5px;
}
.send-box button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: black;
    border: red solid 2px;
    font-size: 30px;
    cursor: pointer;
}

i.bi.bi-send-fill {
    color: rgb(255, 0, 0);
}
.send-box button:hover i.bi.bi-send-fill{
    color: white;
    font-size: 26px;
}
.send-box button:active{
    border:rgb(238, 100, 100)solid 4px;
}

.message-container{
    position: fixed;
    margin-left: 500px;
}
.message-container{
visibility: hidden;
}
