@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300&family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    font-family: 'Biryani', sans-serif;
    color: white;
}
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(120deg,#000000, #ff0000);
    overflow: hidden;

}
.container{
    padding-top: 50px;
    margin-left: 270px;
    transition: all 0.3s ease;
    height: 700px;
    overflow: auto;
}
.btn-submit{
    display: flex;
    margin: 20px;
    width: 200px;
    height: 40px;
    background: #177100;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    color: white;
}
.btn-submit:hover{
    background-color: #022403;
    transition: ease all 0.2s;
}

.container.close .data-attr{
    margin-left: 200px;
    transition: all 0.3s ease;
}
.container.close{
    margin-left: 100px;
    transition: all 0.3s ease
}
form{
    display: flex;
    flex-direction: column;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.263);
    border-radius: 20px;
    height: 291px;
    justify-content: center;
    align-items: center;
    position: absolute;
    visibility: hidden;
}
form label{
    margin: 0;
    margin-top: 10px;
}
form input{
color: black;
width: 250px;
}
form input[type=file]{
    color: white;
    margin-top: 10px;
}
form input[type=button]{
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 1000px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
i.bi.bi-trash,i.bi.bi-database-gear,i.bi.bi-eye {
    cursor: pointer;
}

  