@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
    font-family: 'Nunito', sans-serif;

}


:root{
    background-image: linear-gradient(120deg,#000000, #ff0000);
    --body-color: rgb(244, 0, 0);
    --sidebar-color: #000000;
    /*-webkit-text-fill-color: rgb(135, 239, 239);*/

    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.sidebar header .toggle{
    
    position: absolute;
    right: -15px;
    top: 6%;
    transform: translateY(100%);
    background-color: rgb(255, 0, 0);
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 50%;
    font-size: 35px;
    z-index: 999;
}
.sidebar header .toggle :hover{
    
    background-color: var(--primary-color-light);
}

.sidebar .img_logo{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;/*#0a0a2310*/
    border-bottom: 2px solid rgba(255, 0, 0, 0.771);
    border-bottom-left-radius: 10%;
}
.sidebar .img_logo span{
    padding-left: 5%;
    display: block;
    align-items: center;
    justify-content: center;
}
.sidebar .img_logo span h1{
    font-size: 18px;
    padding-bottom: 1%;
    margin: 0px;
    color: rgb(255, 0, 0);
}
.sidebar .img_logo span p{
    width: 94%;
    font-size: 14px;
    margin: 0px;
    color: white;
}
.sidebar .img_logo #icon_person{
    padding-left: 5%;
    color: red;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
    border-radius: 0px 50px 50px 0px;

    
}
.content{
    position: relative;
    top: 20px;
    left: 270px;
    height: 100%;
    width: calc(100% - 270px);
    transition: var(--tran-03);
    z-index: -1;
    overflow: hidden;
}
.sidebar.close ~ .content{
    width: calc(100% - 80px);
    height: 100%;
    left: 80px;
    z-index: -1;
}
.sidebar.close{
    width: 70px;
}

.sidebar.close .text{
    opacity: 0;
    font-size: 0;
}
.sidebar .menu-bar .menu-link{
    list-style: none;
    padding-left: 10%;
}
.sidebar .menu-bar .menu-link .links{
    font-size: 30px;
    padding-right: 7%;
}
.sidebar li{
    padding-top: 20px;
    left: 10%;
}
.sidebar li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffffbd;
    transition: var(--tran-03);
}
.sidebar li.active a {
    color: #000000bd;
}
.sidebar li :hover{
    border-radius: 50px 0px 0px 50px;
    background-color: rgba(255, 0, 0, 0.336);
    transition: var(--tran-03);
}
li.nav-links.active {
    transition: all 0.2s ease-in-out;
    position: inherit;
    transition: var(--tran-03);
    margin: 2%;
    padding-left: 10px;
    padding-top: 1%;
    border-bottom: 2px solid var(--primary-color-light);
    background-color: rgba(239, 70, 70, 0.337);
    border-radius: 50px 0px 0px 50px;
    box-shadow: rgba(223, 92, 92, 0.504) 0px 3px 8px;
    
}
li.nav-links.active:hover {
    
    background-color: rgba(11, 1, 1, 0.336);
    border-radius: 50px 0px 0px 50px;
    transition: var(--tran-03);
}
li.nav-links.active a:hover {
    
    background-color: rgba(11, 1, 1, 0.336);
    border-radius: 50px 0px 0px 50px;
    transition: var(--tran-03);
}
li.nav-links.active span:hover {
    
    background-color: rgba(11, 1, 1, 0.336);
    border-radius: 50px 0px 0px 50px;
    transition: var(--tran-03);
}
li.nav-links.active i:hover {
    
    background-color: rgba(11, 1, 1, 0.336);
    border-radius: 50px 0px 0px 50px;
    transition: var(--tran-03);
}
.sidebar .logout_btn{
    
    position: absolute;
    width: 40%;
    height: 5%;
    bottom: 2%;
    left: 25%;
    opacity: 70%;
}
.sidebar .logout_btn a {
text-decoration: none;
}
.sidebar .logout_btn a i{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items :center;
}
.sidebar .logout_btn a #btn_logout{
    display:flex;
    width: 100%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items :center;
}
.sidebar .logout_btn :hover{
    margin: 1%;
    transition: var(--tran-03);
}